body {
    margin: 0;
    background-color: black;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}


.square {
    background-color: burlywood;
    box-sizing: border-box;
    aspect-ratio: 1;
}