body {
    margin: 0;
    background-color: black;
    overflow: hidden;
    height: 100%;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
}


.square, .square-touched {
    box-sizing: border-box;
    aspect-ratio: 1;
}

.square {
    background-color: rgb(0, 0, 0);
}

.square-touched {
    background-color: rgb(255, 255, 255);    
}

.header {
    display: flex;
    height: 5vh;
    padding: 10px;
}

.reset, .erase {
    background-color: black;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    border-radius: 40px;
    border: 3px solid rgba(255, 255, 255, 0.262);
}

.reset {
    flex: 0.25;
}
.erase {
    flex: 1;
}